<section class="api container">
  <div id="api-wrapper">
    <h2>Today's News</h2>
    <a href="#" id="api-link" target="_blank">
      <img id="api-image" src="" alt="" />
    </a>
    <h3 id="api-headline"></h3>
    <p id="api-content"></p>
  </div>
  <div class="content">
    <h2>Dynamic Content From Your Favourite API</h2>
    <p>
      Please use an API to add some random content here. It could be a chuck
      norris joke, a recipe for a delcious cocktail, or a mighty interesting
      fact!
    </p>
  </div>
</section>
