<div class="container cta">
  <div class="image">
    <img src="/assets/cta.png" alt="people laughing" />
  </div>
  <div class="content">
    <h2>Light, Fast & Powerful</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus mus. <br />
      <br />
      Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
      consequat massa quis enim.
    </p>
    <div class="buttons">
      <a href="#" class="button">Get started</a>
    </div>
  </div>
</div>
