<section class="hero container">
  <div class="hero-content">
    <h1>Introduce The Product Quickly & Effectively</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus <br /><br />mus. Donec quam
      felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
      massa quis enim.
    </p>
    <div class="buttons">
      <a href="#" class="button">Get Started</a>
      <a href="#" class="button secondary">Learn More</a>
    </div>
  </div>
  <div class="hero-image">
    <img src="/assets/phones.png" alt="" />
  </div>
</section>
