<section class="container phone">
  <div class="content">
    <div class="main">
      <h2>Design & Build Your Own Landing Pages</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus.
        <br />
        <br />
        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        Nulla consequat massa quis enim.
      </p>
    </div>
    <div class="features-container">
      <ul>
        <li>
          <strong>Title Goes Here</strong>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </li>
        <li>
          <strong>Title Goes Here</strong>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </li>
        <li>
          <strong>Title Goes Here</strong>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </li>
        <li>
          <strong>Title Goes Here</strong>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="phone-image">
    <img src="/assets/Vert.png" alt="phone" />
  </div>
</section>
