<section class="container pricing">
  <div class="content">
    <h2>A Price To Suit Everyone</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus
    </p>
    <div class="price">
      <strong class="amount">$200</strong>
      <p class="type">Starter Kit</p>
    </div>
    <div class="pricing-cta">
      <p>See, One price. Simple.</p>
      <a href="#" class="button">Purchase Now</a>
    </div>
  </div>
</section>
