body {
  background-image: url("/assets/hero-blob.svg");
  background-repeat: no-repeat;
  background-position-y: -1rem;
  background-position-x: right;
  background-size: 51rem;
}

@include media-query(1500px) {
  background-size: 60rem;
}

@include media-query($on-laptop) {
  background-size: 45rem;
}

@include media-query($on-laptop) {
  html {
    @include relative-font-size(0.95);
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $dark-blue;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 2.7rem;
}

.site-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.8rem 0;
  max-width: 80rem;
  width: 80%;
  margin: auto;

  .nav-left {
    * {
      margin-right: 3rem;
      font-size: 0.9em;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .page-title {
    justify-self: center;
  }

  .nav-right {
    justify-self: right;
    .button {
      font-size: 0.8em;
    }
  }
}

.page-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: $brand-color;
  &:hover {
    text-decoration: none;
  }
}

@include media-query($on-laptop) {
  .site-nav {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    * {
      margin-bottom: 1rem;
    }
    .page-title {
      order: 1;
    }
    .nav-left {
      order: 2;
      * {
        margin-right: 1rem;
      }
    }
    .nav-right {
      order: 3;
    }
  }
}

a.button,
.button {
  font-size: 0.9em;
  background-color: $dark-blue;
  color: white;
  padding: 0.25em 2em;
  border-radius: 2px;
  border: 2px solid $dark-blue;

  &:hover {
    text-decoration: none;
  }
  &.secondary {
    color: $dark-blue;
    background-color: transparent;
  }
}

.hero.container {
  height: 85vh;
  justify-content: center;

  .hero-content {
    max-width: 34rem;
    p {
      margin-bottom: 2rem;
    }
    .buttons {
      display: flex;
      flex-wrap: wrap;

      * {
        margin-bottom: 1rem;
        display: block;
      }
      .button:first-of-type {
        margin-right: 1rem;
      }
    }
  }
  .hero-image img {
    filter: drop-shadow(0px 6px 24px rgba(0, 0, 0, 0.2));
  }
}
@include media-query($on-laptop) {
  .hero.container {
    flex-direction: column-reverse;
    height: auto;
    padding: 0 4rem;
    height: auto;
    .hero-image img {
      max-height: 15rem;
    }
  }
}

.container {
  padding: 5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .content {
    width: 50%;
    max-width: 30rem;
    margin: 0 3rem;
    p {
      font-size: 0.9em;
    }
  }
}
@include media-query($on-laptop) {
  .container {
    flex-direction: column;
    padding: 5rem 3rem;
    .content {
      width: 100%;
    }
  }
}
.api.container {
  max-width: 80rem;
  margin: auto;
  #api-wrapper {
    width: 60%;
    max-width: 35rem;
    margin: 0 3rem;
    -webkit-box-shadow: 0px 14px 77px -20px rgba(146, 158, 204, 1);
    -moz-box-shadow: 0px 14px 77px -20px rgba(146, 158, 204, 1);
    box-shadow: 0px 14px 77px -20px rgba(146, 158, 204, 1);
    padding: 3rem;
    border-radius: 2px;
    h2 {
      margin-bottom: 1em;
      text-align: center;
    }
    h3 {
      margin-bottom: 1em;
    }
    p {
      margin-bottom: 0;
    }
    a {
      display: block;
      margin-bottom: 2em;
    }
    img {
      width: 100%;
    }
  }
}

@include media-query($on-laptop) {
  .api.container {
    flex-direction: column-reverse;
    .content {
      margin-bottom: 3rem;
    }
  }
}

@include media-query($on-laptop) {
  .api.container {
    .content {
      width: 80%;
    }
  }
}

.phone.container {
  max-width: 80rem;
  margin: auto;
  .main {
    margin-bottom: 5rem;
  }
  .features-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 1rem;
    color: $dark-blue;
    list-style: none;
    margin: 0;
    margin-left: 1rem;
    li {
      padding-left: 2rem;
      strong {
        position: relative;
        margin-bottom: 1rem;
        display: block;
        &::before {
          content: url("/assets/list-icon.svg");
          position: absolute;
          height: 2rem;
          width: 2rem;
          left: -3rem;
          top: -0.5rem;
        }
      }
      p {
        font-size: 0.7em;
      }
    }
  }
}

@include media-query($on-laptop) {
  .phone.container {
    flex-direction: column-reverse;
    .features-container ul {
      display: flex;
      flex-wrap: wrap;
    }
    .phone-image img {
      max-height: 20rem;
      margin-bottom: 2rem;
    }
  }
}

.cta.container {
  max-width: 80rem;
  margin: auto;
  .content p {
    margin-bottom: 2rem;
  }
}

@include media-query($on-laptop) {
  .cta.container {
    .image {
      margin-bottom: 2rem;
    }
  }
}

.pricing.container {
  justify-content: center;
  background-image: url("/assets/Rectangle.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10rem;
  .content {
    text-align: center;
    p {
      margin-bottom: 2rem;
    }
    .price {
      strong {
        font-size: 3rem;
        color: $dark-blue;
      }
      .type {
        font-size: 0.9rem;
      }
    }
    .pricing-cta {
      p {
        margin-bottom: 1em;
        font-size: 0.8rem;
        color: $dark-blue;
      }
      .button {
        padding: 0.25em 3em;
      }
    }
  }
}

@include media-query($on-laptop) {
  .pricing.container {
    background-size: cover;
    padding: 5rem 2rem;
  }
}

footer.container {
  background-color: #e7ecff;
  display: unset;
  padding: 2rem 10rem;
  * {
    font-size: 0.93em;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    &:first-of-type {
      border-bottom: 1px solid #cdd1d4;
    }
    date {
      color: #939ea4;
    }
    .page-title {
      font-size: 1.5em;
    }
    &.links {
      .footer-left * {
        color: #929ecc;
        margin-right: 2em;
      }
      .footer-right {
        * {
          margin-left: 1em;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@include media-query($on-laptop) {
  footer.container .row {
    flex-direction: column;
    * {
      margin-bottom: 2rem;
    }
  }
}
